<style>
h1{
  color:rgb(133, 214, 20)
}

</style>
<h1>{{title}}</h1>
<h2>{{name}}</h2>

<p >{{"adding x and y = "+x+y}}</p>
<app-login></app-login>
<app-signup></app-signup>
<app-profile></app-profile>

<button type="button" (click)="handleClickEvent()">Click Me</button>
<button type="button" (click)="sum(20,21)">Sum</button>
<h1>Counting App</h1>
<div class="increment_container_main">


<h1>{{x}}</h1>
<div class="increment_container">

    <button class="btn btn_increment" type="button" (click)="handleCounter('plus')">Increment</button>

    <button class="btn btn_reset" type="button" (click)="handleCounter('reset')">Reset</button>
    <button class="btn btn_decrement" type="button" (click)="handleCounter('minus')">Decrement</button>
</div>
</div>
<div>
    <button type="button" (click)="handleEvent($event)">Click Event</button>
</div>
<div  style="background-color: green; width: 100px; height: 100px;margin-top: 50px;" (mouseenter)="handleEvent($event)" >

</div>
<br/>

<br/>
<input type="text" name="user" (input)="handleEvent($event)">
<br/>

<h1>Get and Set Input Values</h1>
<input type="text" placeholder="Enter your User Name" (input)="getName($event)" value="{{name1}}">

<br/><br/>


<h1>The user name is {{displayName}}</h1>
<button (click)="showName()">Get Name</button>

<button (click)="setName()">Set Name</button>
<hr>
<h1>Email:{{email}}</h1>
<input type="text" placeholder="enter email" #emailField value="{{email}}">
<button type="button" (click)="getEmail(emailField.value)">get Email</button>
<button type="button" (click)="setEmail()">set Email</button>
<br>
<br>
<br>
<br>
<hr>
<div >
  <h1>If Else | Control Flow</h1>
  <button type="button" (click)="hide()">Hide /show</button>
  <br>
  <br>
  @if(display){
    <div style="width: 200px; height: 200px; background-color: green;">
    </div>
  }

</div>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<h1>Toggle Two divs</h1>
<button type="button" (click)="toggleTwo()">{{toggleDiv?'show red div':'show yellow div'}}</button>
@if(toggleDiv){
  <div style="background-color:gold;width: 200px;height: 200px;">

  </div>
}
@else {
  <div style="background-color: red;width: 200px;height: 200px;">

  </div>
}

<hr>

<h1>Else if | Control Flow</h1>
<button (click)="handleColor(1)">Red</button>
<button (click)="handleColor(2)">Green</button>
<button (click)="handleColor(3)">Yellow</button>
<button (click)="handleColor(4)">Pink</button>

<input placeholder="Input Color number"type="text" (input)="handleColorInput($event)">

@if(color==1){<div style="background-color:red; width: 100px; height: 100px;"></div>

}@else if(color==2){<div style="background-color:rgb(11, 179, 53); width: 100px; height: 100px;"></div>}
@else if(color==3){<div style="background-color:rgb(255, 255, 0); width: 100px; height: 100px;"></div>}
@else{<div style="background-color:rgb(238, 18, 168); width: 100px; height: 100px;"></div>}


<br>
<hr>
<h1>SWITCH Case</h1>
<button type="button" (click)="handleSwitchColor('red')">Red</button>
<button type="button" (click)="handleSwitchColor('green')">Green</button>
<button type="button" (click)="handleSwitchColor('blue')">Blue</button>
<button type="button" (click)="handleSwitchColor('yellow')">Yellow</button>
<button type="button" (click)="handleSwitchColor('pink')">Gold</button>
<input placeholder="enter color" type="text"(input)="handleSwitchColorChange($event)">

@switch(switchcolor){
  @case('red'){
    <h1 style="background-color: red; color: white;padding: 5px;border-radius: 10px; text-transform: capitalize">{{switchcolor}}</h1>
  }
  @case('green'){
    <h1 style="background-color: green; color: white;padding: 5px;border-radius: 10px;text-transform: capitalize">{{switchcolor}}</h1>
  }
  @case('blue'){
    <h1 style="background-color: blue; color: white;padding: 5px;border-radius: 10px;text-transform: capitalize">{{switchcolor}}</h1>
  }
  @case('yellow'){
    <h1 style="background-color: yellow; color: black;padding: 5px;border-radius: 10px;text-transform: capitalize">{{switchcolor}}</h1>
  }
  @default(){
    <h1 style="background-color: black; color: white;padding: 5px;border-radius: 10px;text-transform: capitalize">No Color Match</h1>
  }
}



<br>
<hr>
<h1>For Loop in Template File</h1>

@for (user of users; track user){
  <h2 style="text-transform: capitalize;">{{user}}</h2>
}

<br>
<hr>
<h1>For Loop array</h1>
<h2>Students</h2>
@for(student of students;track student.name){
  <div>
  <h3>Name:{{student.name}}</h3>
  <p>Age: {{student.age}}</p>
  <p>email: {{student.email}}</p>

  </div>

  <br>

}
