

<app-header>
</app-header>
<div class="passData">
  <router-outlet></router-outlet>
  <!-- <app-user [user]="user" city="Rotterdam"></app-user> -->

  <!-- <select #selectedUser (change)="onUserChange(selectedUser.value)" >
    <option value="Bruce Wane">Bruce Wane</option>
    <option value="Peter Parker">Peter Parker</option>
    <option value="Tony Stark">Tony Stark</option>
  </select> -->

  <h1>Reuse Components</h1>
  @for (reuseUser of reuseUsers; track reuseUser) {
    <h2>
      {{reuseUser}}

    </h2>
    <p>
      <!-- <app-user
      [reuseUser]="reuseUser"
      >

    </app-user></p> -->

  }
  <h1 class="mainTitle">CHILD TO PARENT</h1>
<!-- <app-user (getUsers)="handleCToPUsers($event)"></app-user> -->



@for (user of cToPUsers;track user){
  <ul>
    <li>{{user}}</li>
  </ul>

}
<h1 class="mainTitle">Custom Pipe in Angular</h1>
<h2>amount:{{amount | currencyConverter}}</h2>
<h2>amount*100:{{100 | currencyConverter}}</h2>

<h2>{{amount | currencyConverter:12}}</h2>

<p>{{ birthday | date:'longDate' }}</p>
<p>{{ price | currency:'EUR' }}</p>
<p>{{ name | uppercase }}</p>

<!-- Destroy Cycle -->
 <h1 class="mainTitle">Life Cycle: Destroy Cycle</h1>
 <h2>{{Counter}}</h2>
 <button (click)="updateCounter()">Increment</button>
 <div *ngIf="Counter!==5">
  <h2>User Component</h2>
  <app-user [Counter]="Counter"></app-user>
 </div>

 <h1 class="mainTitle">Procuct service</h1>
 <button (click)="getProductData()">Load Product Data</button>

 @for(item of productData;track item){
  <p>{{item.name}}, {{item.price}}, {{item.company}}</p>
 }

 <h1 class="mainTitle">API</h1>

 @for(item of productList;track item.id){
  <ul style="list-style: none;">
    <li style="list-style: none;display: flex; flex-direction: row;align-items: center;">
    <img alt="{{item.title}}" src="{{item.thumbnail}}">
    <ul style="list-style: none;">

    <li style="font-size: x-large; list-style: none;font-weight: bolder;">{{item.title}}</li>
    <li>{{item.description}}</li>
    <li><span style="font-weight: bolder;">Weight:</span>  {{item.weight}}kg</li>
    <li>Rating:{{item.rating}}</li>
    <li>Brand:{{item.brand}} </li>

  </ul></li></ul>

 }

 <h1>Json Server</h1>
 <p>run json server through json server cli</p>

 


  </div>

