

<app-header>
</app-header>
<div class="passData">
  <router-outlet></router-outlet>
  <!-- <app-user [user]="user" city="Rotterdam"></app-user> -->

  <!-- <select #selectedUser (change)="onUserChange(selectedUser.value)" >
    <option value="Bruce Wane">Bruce Wane</option>
    <option value="Peter Parker">Peter Parker</option>
    <option value="Tony Stark">Tony Stark</option>
  </select> -->

  <h1>Reuse Components</h1>
  @for (reuseUser of reuseUsers; track reuseUser) {
    <h2>
      {{reuseUser}}

    </h2>
    <p>
      <!-- <app-user
      [reuseUser]="reuseUser"
      >

    </app-user></p> -->

  }
  <h1>CHILD TO PARENT</h1>
<app-user (getUsers)="handleCToPUsers($event)"></app-user>



@for (user of cToPUsers;track user){
  <ul>
    <li>{{user}}</li>
  </ul>

}
<h1>Custom Pipe in Angular</h1>
<h2>amount:{{amount}}</h2>


  </div>

