<div class="mainContainer">
  <h1 class="mainTitle">Pass Data Parent to Child Component</h1>
  <p>user is:{{user}}</p>

  <p>User's city is : {{city}}</p>
  <p>User name is {{reuseUser}}</p>

  <button (click)="sendDataToParent()">Send User to Parent</button>
  <button (click)="getUsers.emit(this.cToPUsers)">Pass Data 2</button>

  <hr class="hr">
<h1 class="mainTitle"> Component Life Cycle Methods</h1>
<h2>User Component</h2>
<ol>
  <li>constructor</li>
  <li>ngOnChanges</li>
</ol>
<br><br><br><br><br><br><br>
<hr class="hr">

</div>


