<main class="mainContainer">
  <h1 class="mainTitle">This is Home</h1>

  <!-- Navigate to static Profile page -->
  <a [routerLink]="['/profile']">Go to Profile</a>

  <h1 class="mainTitle">Dynamic Routing</h1>
  <h2>User List</h2>
  <ul>
    <li *ngFor="let user of users; trackBy: trackById">
      <a [routerLink]="['/user', user.id, user.name]">{{ user.name }}</a>
    </li>
  </ul>

  <h1 class="mainTitle">Basic Reactive Forms</h1>
  <form>
    <label>User Name</label><br>
    <input type="text" placeholder="Enter your name" [formControl]="name"><br><br>

    <label>Password</label><br>
    <input type="text" placeholder="Enter your password" [formControl]="password"><br><br>

    <button class="buttonMain" type="button" (click)="displayValue()">Login</button>
    <button type="button" (click)="setValues()">Set Values in Fields</button>

    <h3>{{ name.value }}</h3>
    <h3>{{ password.value }}</h3>
  </form>
</main>
